.contacts-segment {
  min-width: 600px;
  .contacts-table {
    min-width: 590px;
  }
}
.contacts-control, .scroll-container {
  margin: 12px;
}
.contacts-segment {
  display:inline-block;
}
.button-span {
  margin: 6px;
}
